<HTML>

<head>
    <style>
        table,
        tr,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        td,
        tr {
            padding: 5px;
        }
    </style>
</head>

<body>
    <h2>
        <center>
            <p>employeeID</p>
            <p>name</p>
            <p>position</p>
        </center>
    </h2>
    <h2>EMPLOYEES</h2>
    <table style="width:100%">

        <tr>
            <td> employeeID: "ACA170",
                name: "Paa Kwesi Asante JNR",
                position: "Data Analyst"
            </td>
        </tr>

        <tr>
            <td> employeeID: "ACA180",
                name: "Glenn Kommey",
                position: "Server Manager"
            </td>
        </tr>

        <tr>
            <td>
                employeeID: "ACA190",
                name: "Jeffery Quarm",
                position: "Database Administrator"
            </td>
        </tr>

        <tr>
            <td>
                employeeID: "ACA200",
                name: "Gabriel Nutakor",
                position: "Cloud Architect"
            </td>
        </tr>
        </tr>
    </table>
</body>

</HTML>